*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    /* background-color: aquamarine; */
    /* height: 800px; */
    background-image: url("/image/bgimage.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 8rem; */
}
.brand img{
    width: 150px;
}
nav{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .left{
    display: flex;
    align-items: center;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 2rem;
    transition: 0.6 all ease;
   
}
nav .right a i{
    display: none;
}
.navbar a:hover{
    color: blue;
}
.btn{
    padding: 12px 15px;
    color: aliceblue;
    background-color: blue;
    border:none;
    

}

.btn-primary{
    padding: 12px 15px;
    color: blue;
    background-color:transparent;
    border:1px solid blue;
    margin-top: 10px;
    

}
.btn-primary:hover{
  
    color: aliceblue;
    background-color: blue;
    border:none;
    
    

}
.container{
    max-width: 1150px;
    margin: 0 auto;
    
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 0;
}
.blog{
    /* width: 50%; */
    flex: 1;
}
.blog img {
    width:100%
}
.heading{
    /* width: 50%; */
    flex: 1;
}

section .about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
 .about-img{
    flex: 1;

}
.about-heading{
    flex:1;
}
.about-img img{
    height: 300px;
    display: flex;
    align-items: center;
    
}
.about-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;

}
.about-title span{
    /* font-size: 2.5rem; */
    color: aqua;

}
/* section .about h1{
    font-size: 2.5rem;
}
section .about h1 span{
    color: aqua;
    
} */
section .about p{
    padding: 1rem 0;
    line-height: 1.4;
    color: #000;
}
section .about h3{
    margin-top: 1.5rem;
}
.social a{
background-color: black;
width: 45px;
padding: 12px 15px;
margin-top: 10px;
border-radius: 50px;

}
.social a:hover{
    background-color: aqua;
}

.serives{
    background-color: beige;
    padding: 3rem 0;
}
.serives h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 1rem;
    margin-bottom: 20px;
}
.serives h1 span{
    color: aqua;
    
    
}

.serives h1 p{
    text-align: center;
  
}
.wrap-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   grid-column-gap: 2rem;
   grid-row-gap: 4rem;
}


.card{
    background-color:aliceblue;
    padding: 2rem 3rem;
    text-align: center;
    position: relative;
}
.card a img{
    width: 40px;
    position: absolute;
   top: -20px;
}
.card h2{
    color:black;
   
}

.card p{
    color:black;
   
}


.card:hover{
    background-color:black;
   
}
.card:hover h2 {
    color:aliceblue;
   
}
.card:hover p {
    color:aliceblue;
   
}
.freelancer{
    text-align: center;
    padding: 2rem 0;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/downloadbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0 , 100% 0,100% 100%),75% 80% ,0 100%;
}
.freelancer h1, p{
    color: aliceblue;
    margin-bottom: 1rem;
}
.review{
    padding: 4rem 4rem;
}
/* .review h1,p {
    text-align: center;
    color: black;
    
} */



 .project h1{
    text-align: center;
}

.project{
    background-color: azure;
    padding: 2rem 0;
}
.project h1 span{
    color: aqua;
}

.card-wrrap{
    display: grid  ;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 2rem;
}
.card-wrrap .card1 img{
  width: 100%;  
}

.card1{
    position: relative;
}
.overlay{
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: aqua;
    opacity: 0;


}

.overlay a{
    text-decoration: none;
    color: black;
}
.card-wrrap .card1:hover .overlay{
    opacity: 1;
}
.contact h1{
    text-align: center;
    padding: 2rem 0;

}
.contact h1 span{
    color: aqua;
}

 .card-wraper3{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    padding: 2rem 0;
}
.card3 a i{
    color: black;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.card3 p{
    margin: 0.5rem 0;
    color: darkolivegreen;
}
.card3 h2{
    font-size: 1rem;
}

.input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    
}

.input-wrap2{
    display: flex;
    flex-direction: column;
}
.input-wrap input{
    padding: 0.7rem ;
}
.input-wrap input:focus{
    outline: none;
}
.input-wrap2 input:focus{
    outline: none;
}
.input-wrap2 input{
    padding: 0.7rem ;
    margin-bottom: 2rem;
}
.input-wrap2 textarea{
    padding: 0.7rem ;
    
}
.input-wrap2 textarea{
   outline: none;
    
}
.btn-mess{
    margin-top: 1rem;
 
}
.footer{
    background-color: rgb(209, 201, 201);
    text-align: center;
    margin-top: 2rem;
    padding: 4rem 0;
}
.footer img{
    width: 120px;
}
.copywrite h4{
    color: rgb(104, 81, 81);
    margin-top: 1rem;
}


.footer-social a{
    margin-right: 1.5rem;
    margin-top: 3rem;
    color: black;
}
.blog {
    margin-top: 2rem;
}
.blog h1{
    text-align: center;

}
.blog h1 span{
    color: aqua;
}

.card-wrap4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
.card-wrap4 img{
    width: 100%;
}
.blog-heading{
    background-color: aliceblue;
    padding: 2rem;
}
.blog-heading a{
    text-decoration: none;
    color: black;

}
.blog-heading:hover{

}



 /*             mobile navber          */


.site-wrapper{
    position: relative;
}


.hamberger{
    position: absolute;
    right: 40px;
    top:40px;
    cursor: pointer;
}
.hamberger a i{
    width: 20px;
    
    
    
    
}
.mobile-nav{
    position: fixed;
    top:0;
    left: 0;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding: 2rem;
    transform: translateX(-100%);
    transition: all 0.5 ease-in-out;
    z-index: 999;
}

.open{
    transform: translateX(0);
}
.mobile-nav ul{
    list-style: none;
} 
.mobile-nav ul li{
    margin-top: 2rem;
} 
.mobile-nav ul li a{text-decoration: none;
    color:black;
}
.mobile-nav ul li a:hover{
    
    color:blue;
}
.time{
    position: fixed;
    top:40px;
    right: 30px;
}
.time a i{
    width: 25px;

}




















/* @media screen and (max-width: 480px)  {
    .blog{
        width: 100%;
    }
    .heading{
        width: 100%;
    }
    
} */